<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>ทะเบียนสินค้ารายชิ้น</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-12 col-md-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-th-large" style="font-size: 1em;"></i>ค้นหาข้อมูล</div>
            </div>
            <div class="portlet-body" style="padding: 2px;">
              <div class="row">
                <div class="col-lg-6">
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>สินค้า / SKU</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="SKUName"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>ประเภทสินค้า</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-select interface="popover" [(ngModel)]="SKUID">
                        <ion-select-option *ngFor="let title of SKU" [value]="title.SkuID" [selected]="title.SkuName">
                          {{title.SkuName}}</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>สถานะสินค้า</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-select interface="popover" [(ngModel)]="ProductStatusID">
                        <ion-select-option *ngFor="let title of ProductStatus" [value]="title.ProductStatusID"
                          [selected]="title.ProductStatusName">
                          {{title.ProductStatusName}}</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>Lot / Batch</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="LotNo"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>ตำแหน่ง</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-select interface="popover" [(ngModel)]="LocationID">
                        <ion-select-option *ngFor="let title of Location" [value]="title.LocationID"
                          [selected]="title.LocationName">
                          {{title.LocationName}}</ion-select-option>
                      </ion-select>
                    </div>
                  </ion-item>
                </div>
                <div class="col-lg-6">
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>SKUCode</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="SkuCode"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>เลขที่ใบรับสินค้า</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="DocNo"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>เลขที่ใบสั่งซื้อ (PR)</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="PRNo"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <div class="col-lg-4">
                      <ion-label>เอกสารอ้างอิง</ion-label>
                    </div>
                    <div class="col-lg-8">
                      <ion-input [(ngModel)]="Ref"></ion-input>
                    </div>
                  </ion-item>
                  <ion-item>
                    <ion-button color="medium" slot="end" (click)="Reset()">รีเซ็ต</ion-button>
                  <ion-button color="primary" slot="end" (click)="Search()">ค้นหา</ion-button>
                </ion-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-12 col-md-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-th-large" style="font-size: 1em;"></i>ทะเบียนสินค้า</div>
            </div>
            <div class="portlet-body" style="padding: 2px;">
              <div class="row">
                <div class="col-12" style="text-align: center; margin-top: 20px;"
                              *ngIf="list == false">
                              <label>ไม่พบข้อมูล</label>
                            </div>
                <div class="col-lg-12" *ngIf="list != false">
                  <div class="portlet light">
                    <div class="portlet-body">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th style="color: white;background-color: #D24667;"> รหัส SKU </th>
                              <th style="color: white;background-color: #D24667;"> รายละเอียดสินค้า </th>                              
                              <th style="color: white;background-color: #D24667;"> จำนวน </th>
                              <th style="color: white;background-color: #D24667;"> S/N </th>                             
                              <th style="color: white;background-color: #D24667;"></th>
                              <th style="color: white;background-color: #D24667;"> ประเภทสินค้า </th>
                              <th style="color: white;background-color: #D24667;"> จำนวนขั้นต่ำ </th> 
                              <th style="color: white;background-color: #D24667;"> Lot / Batch </th>
                              <th style="color: white;background-color: #D24667;"> ตำแหน่ง </th>
                              <th style="color: white;background-color: #D24667;"> สถานะสินค้า </th>
                              <th style="color: white;background-color: #D24667;"> เลขที่ใบรับสินค้า </th>
                              <th style="color: white;background-color: #D24667;"> วันที่รับสินค้า </th>
                              <th style="color: white;background-color: #D24667;"> วันหมดประกัน </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of AssetLocationList; let i = index">
                              <td> {{item.SKUCode}} </td>
                              <td> {{item.SKUName}} </td>                                                       
                              <td class="text-center"> {{item.Qty}} </td>
                              <td class="text-center"> {{item.Serial}} </td>
                              <td>
                                <ion-button color="warning" (click)="Edit(item)"> แก้ไข </ion-button>
                              </td>    
                              <td> {{item.ProductTypeName}} </td>
                              <td> {{item.NumberMin}} </td>
                              <td> {{item.LotNo}} </td>
                              <td> {{item.LocationName}} </td>
                              <td> {{item.ProductStatus}} </td>
                              <td> {{item.OrderNo}} </td>
                              <td> {{item.OrderDate}} </td>
                              <td> {{item.ExpDate}} </td>                              
                            </tr>
                          </tbody>
                        </table>
                        <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)" *ngIf="list != false">
                          <ion-infinite-scroll-content
                            loadingSpinner="bubbles"
                            loadingText="Loading more data…">
                          </ion-infinite-scroll-content>
                        </ion-infinite-scroll>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>