<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>รับสินค้าข้าระบบ</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="page-content-inner">
      <div class="row" style="padding:5px;">
        <div class="col-12 col-md-12" style="padding: 0px;">
          <div class="portlet box blue">
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-codepen" style="font-size: 1em;"></i>รับสินค้าข้าระบบ</div>
              <div class="tools">
                  <span class="label label-sm label-info circle" (click)="Edit('new')"> เพิ่ม </span>
                </div>
            </div>
            <div class="portlet-body" style="padding: 2px;">
              <div class="tab-content">
                <div class="tab-pane active">
                  <div class="row">
                    <div class="col-12">
                      <div class="table-scrollable">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th> เลขที่ใบรับสินค้า </th>
                              <th> วันที่รับสินค้า </th>
                              <th> ประเภทการรับ </th>
                              <th> สถานะ </th>
                              <th> ชื่อลูกค้า </th>
                              <th> ชื่อผู้ขาย </th>
                              <th> ผู้ออกใบรับ </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of list; let i = index"> 
                            
                              <td>{{item.OrderNo}}/{{item.OrderDateString}}</td>
                              <td> {{item.OrderDate}} </td>
                              <td> {{item.DocumentTypeName}} </td>
                              <td> {{item.ProcessStatusName}} </td>
                              <td> {{item.CustomerName}} </td>
                              <td> {{item.VenderName}} </td>
                              <td> {{item.Name}} </td>
                              <td> <span class="label label-sm label-warning circle" (click)="Edit('edit',item)"> แก้ไข </span> </td>
                              <td> <span class="label label-sm label-danger circle" (click)="Delete()"> ลบ </span> </td>                             
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>