<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>ใบโอนสินค้า</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row" style="padding: 5px;">
      <div class="col-md-12 col-12" style="padding:0px;">
        <div class="portlet box blue">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-file-text-o"></i>RS 0002/19</div>
            <div class="tools">
              <span class="label label-sm label-success circle" (click)="save()">บันทึก</span>
            </div>
          </div>
          <div class="portlet-body">
            <div class="tab-content">
              <div class="tab-pane active">
                <div class="row">
                  <div class="col-4">
                    <ion-list>
                      <ion-item no-line>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">เลขที่ใบโอนสินค้า</ion-label>
                        <ion-select *ngIf="type == 'new'; else new" #new class="col-5" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'run')">
                          <ion-select-option *ngFor="let run of Running" [value]="run.RunningID">{{ run.RunningNo1 }}</ion-select-option>
                        </ion-select>
                        <ion-label *ngIf="type == 'edit'; else edit" #edit class="col-2" style="padding: 0px;">{{item.RunningNo1}}</ion-label>
                        <ion-input *ngIf="type == 'new'; else new" #new class="col-2" style="padding: 0px;" [(ngModel)]="TransferNo"></ion-input>
                        <ion-label *ngIf="type == 'edit'; else edit" #edit class="col-2" style="padding: 0px;">{{item.TransferNo}}</ion-label>
                      </ion-item>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">ประเภทการโอน</ion-label>
                        <ion-select *ngIf="type == 'edit'; else edit" #edit class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'type')" [(ngModel)]="item.DocumentTypeID">
                          <ion-select-option *ngFor="let tran of tranfertype" [value]="tran.SystemID">{{ tran.SystemName1 }}</ion-select-option>
                        </ion-select>
                        <ion-select *ngIf="type == 'new'; else new" #new class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'type')" >
                          <ion-select-option *ngFor="let tran of tranfertype" [value]="tran.SystemID">{{ tran.SystemName1 }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">ลูกค้า</ion-label>
                        <ion-select *ngIf="type == 'edit'; else edit" #edit class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'cus')" [(ngModel)]="item.CustomerID">
                          <ion-select-option *ngFor="let cus of customer" [value]="cus.CustomerID">{{ cus.CustomerName }}</ion-select-option>
                        </ion-select>
                        <ion-select *ngIf="type == 'new'; else new" #new class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'type')" >
                          <ion-select-option *ngFor="let cus of customer" [value]="cus.CustomerID">{{ cus.CustomerName }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </div>
                  <div class="col-4">
                    <ion-list>
                      <ion-item>
                        <ion-label color="primary" class="col-5" style="padding: 0px;">วันที่</ion-label>
                        <ion-label *ngIf="type == 'edit'; else edit" #edit class="col-5" style="padding: 0px;">{{item.TransferDate}}</ion-label>
                        <ion-label *ngIf="type == 'edit'; else edit" #edit class="col-2" style="padding: 0px;" >{{item.TransferTime}}</ion-label>
                        <ion-input *ngIf="type == 'new'; else new" #new class="col-5" style="padding: 0px;" [(ngModel)]="TransferDate" disable></ion-input>
                        <ion-input *ngIf="type == 'new'; else new" #new class="col-2" style="padding: 0px;" [(ngModel)]="TransferTime" disable></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">Vender</ion-label>
                        <ion-select *ngIf="type == 'edit'; else edit" #edit class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'vender')" [(ngModel)]="item.TechnicianVenderID">
                          <ion-select-option *ngFor="let ven of TechnicianVender" [value]="ven.SystemID">{{ ven.SystemName1 }}</ion-select-option>
                        </ion-select>
                        <ion-select *ngIf="type == 'new'; else new" #new class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'vender')">
                          <ion-select-option *ngFor="let ven of TechnicianVender" [value]="ven.SystemID">{{ ven.SystemName1 }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">ช่าง</ion-label>
                        <ion-select *ngIf="type == 'edit'; else edit" #edit class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'tech')" [(ngModel)]="item.EmpID">
                          <ion-select-option *ngFor="let t of EmpID" [value]="t.personID">{{ t.personName }}</ion-select-option>
                        </ion-select>
                        <ion-select *ngIf="type == 'new'; else new" #new class="col-7" style="margin: 0px;" interface="popover" (ionChange)="onChange($event,'tech')">
                          <ion-select-option *ngFor="let t of EmpID" [value]="t.personID">{{ t.personName }}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </div>
                  <div class="col-4">
                    <ion-list>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">เอกสารอ้างอิง</ion-label>
                        <ion-input *ngIf="type == 'edit'; else edit" #edit class="col-7" style="padding: 0px;" [(ngModel)]="item.txtRef1"></ion-input>
                        <ion-input *ngIf="type == 'new'; else new" #new class="col-7" style="padding: 0px;"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-label class="col-5" style="padding: 0px;" color="primary">หมายเหตุ</ion-label>
                        <ion-input *ngIf="type == 'edit'; else edit" #edit class="col-7" style="padding: 0px;" [(ngModel)]="item.Comment"></ion-input>
                        <ion-input *ngIf="type == 'new'; else new" #new class="col-7" style="padding: 0px;" ></ion-input>
                      </ion-item>
                    </ion-list>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-12" style="padding:5px;">
        <div class="page-content-inner">
          <div class="row" style="padding:5px;">
            <div class="col-12 col-md-12" style="padding: 5px;">
              <div class="portlet box blue">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-cube" style="font-size: 1em;"></i>รายการโอนสินค้า</div>
                  <!-- <div class="tools">
                  <span class="label label-sm label-info circle" (click)="Edit()"> แก้ไข </span>
                </div> -->
                </div>
                <div class="portlet-body" style="padding: 2px;">
                  <div class="tab-content">
                    <div class="tab-pane active">
                      <div class="row">
                        <div class="col-12">
                          <span class="label label-sm label-success circle pull-right"  (click)="add()">เพิ่มรายการ</span>
                          <!-- <ion-item class="item" *ngFor="let item of data" (click)="onChange(item)">
                              <ion-label>{{item.name}}</ion-label>
                            </ion-item> -->
                          <div class="row">
                            <div class="col-6">
                              <ion-item>
                                <ion-label color="primary">Serial No :</ion-label>
                                <ion-input type="text" [(ngModel)]="serial"></ion-input>
                                <ion-icon name="barcode" (click)="scanserial()"></ion-icon>
                                <ion-icon name="search" (click)="searchserial()"></ion-icon>
                              </ion-item>
                            </div>
                            <div class="col-6">
                              <ion-item>
                                <ion-label color="primary">Asset No :</ion-label>
                                <ion-input type="text" [(ngModel)]="assetno"></ion-input>
                                <ion-icon name="barcode" (click)="scanasset()"></ion-icon>
                                <ion-icon name="search" (click)="searchasset()"></ion-icon>
                              </ion-item>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="tab-content">
                            <div class="tab-pane active">
                              <div class="row">
                                <div class="col-12">
                                  <div class="table-scrollable">
                                    <table class="table table-hover">
                                      <thead>
                                        <tr>
                                          <th> Serial No </th>
                                          <th> Asset No </th>
                                          <th> รหัส SKU </th>
                                          <th> ชื่อรายการ </th>
                                          <th> ยี่ห้อ </th>
                                          <th> รุ่น </th>
                                          <th> จำนวนที่โอน </th>
                                          <th> ตำแหน่งเดิม </th>
                                          <th> ตำแหน่งใหม่	 </th>
                                          <th> สถานะปัจจุบัน  </th>
                                          <th> สถานะสินค้าใหม่ </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let item of list; let i = index">
                                          <td>{{item.SerialNo}} </td>
                                          <td>{{item.AssetNo}} </td>
                                          <td>{{item.SKUCode}} </td>
                                          <td>{{item.SKUName}} </td>
                                          <td>{{item.BrandName}} </td>
                                          <td>{{item.ProductName}} </td>
                                          <td>{{item.Amount}} </td>
                                          <td>{{item.OldLocationName}} </td>
                                          <td>{{item.LocationName}} </td>
                                          <td>{{item.OldProductStatusName}} </td>
                                          <td>{{item.ProductStatusName}} </td>
                                          <td *ngIf="type == 'new'; else new">
                                            <span class="label label-sm label-warning circle" #new>แก้ไข</span>
                                          </td>
                                          <td >
                                            <span class="label label-sm label-danger circle" (click)="delete(i)">ลบ</span>
                                            </td>
                                          </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>