<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title></ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <!-- <div class="col-lg-12">
              <ion-label>S/N</ion-label>
            </div>
            <div class="col-lg-12">
              <ion-input [(ngModel)]="Serial"></ion-input>
              <ion-button size="default" color="success" (click)="Save()">
                <ion-icon name="save"></ion-icon>
              </ion-button>
            </div>            
          <div class="col-lg-12">
            <ion-label>Barcode</ion-label>
          </div>
          <div class="col-lg-12">
            <ion-input [(ngModel)]="SerialBarcode" (change)='onChange($event.target.value)'></ion-input>
          </div>
          <div class="col-lg-12">
            <ion-button size="default" (click)="Scan()">
              <ion-icon name="barcode"></ion-icon>
            </ion-button>
          </div> -->
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">S/N</ion-label>
                  <ion-input [(ngModel)]="Serial"></ion-input>
                  <ion-button size="default" color="success" (click)="Save()">
                    <ion-icon name="save"></ion-icon>
                  </ion-button>
                </ion-item>               
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="floating">Barcode</ion-label>
                  <ion-input [(ngModel)]="SerialBarcode" (change)='onChange($event.target.value)'></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-button size="default" (click)="Scan()">
                  <ion-icon name="barcode"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="page-content-inner" style="display: none;">
          <div class="row" style="padding:5px;">
            <div class="col-12 col-md-12" style="padding: 0px;">
              <div class="portlet box blue">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-th-large" style="font-size: 1em;"></i>ข้อมูลสินค้ารายชิ้น</div>
                  <div class="tools">
                    <ion-icon slot="end" name="close" (click)="close()"></ion-icon>
                  </div>
                </div>
                <div class="portlet-body" style="padding: 2px;">
                  <div class="row">
                    <div class="col-lg-6">
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>TID</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-input [(ngModel)]="TID"></ion-input>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg--4">
                          <ion-label>SerialNo</ion-label>
                        </div>
                        <div class="col-lg--8">
                          <ion-input [(ngModel)]="SerialNo"></ion-input>
                        </div>
                      </ion-item>
                    </div>
                    <div class="col-lg--6">
                      <ion-item>
                        <div class="col-lg--4">
                          <ion-label>AssetNo</ion-label>
                        </div>
                        <div class="col-lg--8">
                          <ion-input [(ngModel)]="AssetNo"></ion-input>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg--4">
                          <ion-label>Description</ion-label>
                        </div>
                        <div class="col-lg--8">
                          <ion-input [(ngModel)]="Description"></ion-input>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg--12" style="text-align: right;">
                          <ion-button color="success" slot="end" (click)="Update()">บันทึก</ion-button>
                        </div>
                      </ion-item>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-content-inner">
          <div class="row" style="padding:5px;">
            <div class="col-12 col-md-12" style="padding: 0px;">
              <div class="portlet box blue">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-th-large" style="font-size: 1em;"></i>ทะเบียนสินค้า</div>
                </div>
                <div class="portlet-body" style="padding: 2px;">

                  <div class="row">
                    <div class="col-12" style="text-align: center; margin-top: 20px;" *ngIf="AssetLocationInfo == null">
                      <label>ไม่พบข้อมูล</label>
                    </div>
                    <div class="col-lg-12" *ngIf="AssetLocationInfo">
                      <div class="portlet light">
                        <div class="portlet-body">
                          <div class="table-scrollable">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th style="background-color: #D24667;color: white;"> Serial No </th>
                                  <th style="background-color: #D24667;color: white;"> Asset No </th>
                                  <th style="background-color: #D24667;color: white;"> คำอธิบาย/รายละเอียด </th>
                                  <th style="background-color: #D24667;color: white;"></th>
                                  <th style="background-color: #D24667;color: white;"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of AssetLocationInfo; let i = index">
                                  <td> <input type="text" [(ngModel)]="item.SerialNo" style="width: 120px" /></td>
                                  <td> <input type="text" [(ngModel)]="item.AssetNo" style="width: 120px" /></td>
                                  <td> <input type="text" [(ngModel)]="item.Description" style="width: 120px" /></td>
                                  <td>
                                    <ion-button color="warning" (click)="Edit(item)" style="height: 25px!important;">
                                      บันทึก </ion-button>
                                  </td>
                                  <td>
                                    <ion-button color="danger" (click)="Delete(item.AssetID)"
                                      style="height: 25px!important;"> ลบ </ion-button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="page-content-inner">
          <div class="row" style="padding:5px;">
            <div class="col-12 col-md-12" style="padding: 0px;">
              <div class="portlet box blue">
                <div class="portlet-title">
                  <div class="caption">
                    <i class="fa fa-th-large" style="font-size: 1em;"></i>ข้อมูลสินค้า</div>
                </div>
                <div class="portlet-body" style="padding: 2px;">
                  <div class="row">
                    <div class="col-lg-12">
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>รหัสสินค้า</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{SKUCode}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>ชื่อสินค้า</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{ProductName}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>ประเภทสินค้า</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{ProductTypeName}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>ยี่ห้อ</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{BrandName}}</ion-label>
                        </div>
                      </ion-item>
                      <!-- <ion-item>
                        <div class="col-4">
                          <ion-label>Lot / Batch</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{LotNo}}</ion-label>
                        </div>
                      </ion-item> -->
                    </div>
                    <div class="col-lg-12">
                      <!-- <ion-item>
                        <div class="col-4">
                          <ion-label>วันผลิต</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{MfgDate}}</ion-label>
                        </div>
                      </ion-item> -->
                      <!-- <ion-item>
                        <div class="col-4">
                          <ion-label>วันหมดอายุ</ion-label>
                        </div>
                        <div class="col-8">
                          <ion-label>{{ExpDate}}</ion-label>
                        </div>
                      </ion-item> -->
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>รุ่น</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{ProductName}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>สถานะ</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{ProductStatus}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>จำนวน</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{CountAmount}}</ion-label>
                        </div>
                      </ion-item>
                      <ion-item>
                        <div class="col-lg-4">
                          <ion-label>จำนวน Serial</ion-label>
                        </div>
                        <div class="col-lg-8">
                          <ion-label>{{CountSerial}}</ion-label>
                        </div>
                      </ion-item>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>