ion-content {
    --ion-background-color: white;
    font-size: 15px !important;
}
ion-select-option{
    font-size: 12px !important;
}
ion-select{
    font-size: 14px;
}
ion-label{
    font-size: 15px !important;
}

ion-input{
    font-size: 15px !important;
}
input{
    margin-left: 5px;
    width: 50px;
}